html{
    background:linear-gradient(transparent,gray, white), url(img/seal.jpg);
    background-repeat: no-repeat;
    background-position:center center;;
    min-width: fit-content;
    align-items: center;
}
/* .layered-image{
    background-image: linear-gradient(gray, white), url(img/seal.jpg);
     */
}
::-webkit-input-placeholder{
    color: aliceblue;
}
table, th, td {
    border: 1px solid black;
    text-decoration-color: blue;
  }

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    text-align: center;
    
}

h1 {
    color: yellowgreen;
    position: top center;
}
h2{
    color:lightseagreen;
}
